<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testcase.TC1_PostRequest"/>
      <class name="org.testing.testcase.TC2_GetAllRecordsRequest"/>
      <class name="org.testing.testcase.TC3_GetSingleRecordRequest"/>
      <class name="org.testing.testcase.TC4_PutRequest"/>
      <class name="org.testing.testcase.TC5_DeleteRequest"/>
      <class name="org.testing.testcase.TC6_PostRequestOnlineAPI"/>
      <class name="org.testing.testcase.TC7_GetAllRecordsOnlineAPI"/>
      <class name="org.testing.testcase.TC8_GetParticularRecordOnlineAPI"/>
      <class name="org.testing.testcase.TC9_UpdateRecordOnlineAPI"/>
      <class name="org.testing.testcase.TC10_DeleteRequestOnlineAPI"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
